BESU_RPC_URL=
SEPOLIA_RPC_URL=
POLYGON_RPC_URL=


BC_DEFAULT_PRIVATE_KEY=
AUTHORITY_ADDRESS=
ADMIN_ADDRESS=
BANKA_ADDRESS=
BANKA_PRIVATE_KEY=
BANKB_ADDRESS=
BANKB_PRIVATE_KEY=
BANKC_ADDRESS=
BANKC_PRIVATE_KEY=
BANKD_ADDRESS=
BANKD_PRIVATE_KEY=

# You need to create this key in the chain network
ETHERSCAN_APIKEY=
POLYGONSCAN_APIKEY=